tangsong-ci.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="common-doc.xsd"/>
	<xs:element name="名家词选">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="标题"/>
				<xs:element name="名家词" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="作家">
								<xs:complexType mixed="true"/>
							</xs:element>
							<xs:element name="选本"/>
							<xs:element name="说明" type="文段容器Type" minOccurs="0"/>
							<xs:element name="词" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="词牌">
											<xs:complexType mixed="true">
												<xs:attribute name="id" type="xs:ID" use="optional"/>
												<xs:attribute name="别名" type="xs:token" use="optional"/>
											</xs:complexType>
										</xs:element>
										<xs:sequence maxOccurs="unbounded">
											<xs:element name="题记" minOccurs="0">
												<xs:complexType mixed="true">
													<xs:complexContent mixed="true">
														<xs:extension base="段落Type">
															<xs:choice minOccurs="0">
																<xs:element name="题注" type="段落Type" minOccurs="0"/>
															</xs:choice>
														</xs:extension>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="正文">
												<xs:annotation>
													<xs:documentation>词选中所采用的版本</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="段落" type="xs:string"/>
													</xs:sequence>
													<xs:attribute name="id" type="xs:ID" use="optional"/>
													<xs:attributeGroup ref="编辑属性" />
												</xs:complexType>
											</xs:element>
											<xs:element name="别作版本" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation>与正式版本有所出入的版本</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="题记" minOccurs="0"/>
														<xs:element name="出处" minOccurs="0"/>
														<xs:element name="段落"/>
													</xs:sequence>
													<xs:attribute name="refBy" type="xs:string"/>
												</xs:complexType>
											</xs:element>
											<xs:element name="附录" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
													<xs:choice>
														<xs:group ref="附注" maxOccurs="unbounded"/>
														<xs:sequence maxOccurs="unbounded">
															<xs:element name="出处" type="段落Type"/>
															<xs:element ref="段落" maxOccurs="unbounded"/>
															<xs:element ref="校注" minOccurs="0" maxOccurs="1"/>
														</xs:sequence>
													</xs:choice>
													<xs:attributeGroup ref="编辑属性" />
												</xs:complexType>
											</xs:element>
											<xs:element ref="校注" minOccurs="0" maxOccurs="1"/>
										</xs:sequence>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="xs:ID" use="required"/>
						<xs:attributeGroup ref="编辑属性" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="别作版本">
			<xs:selector xpath="名家词/词/别作版本"/>
			<xs:field xpath="@id"/>
		</xs:unique>
	</xs:element>

	<xs:group name="附注">
		<xs:choice>
			<xs:element name="注释">
				<xs:complexType mixed="true">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="引文"/>
						<xs:element ref="标记"/>
					</xs:choice>
					<xs:attribute name="关键字" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:group>
	<xs:element name="校注">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="段落"/>
				<xs:group ref="附注"/>
				<xs:element name="异文">
					<xs:complexType>
						<xs:complexContent mixed="true">
							<xs:extension base="段落Type">
								<xs:attribute name="文本" type="xs:string" use="required"/>
								<xs:attribute name="类型" type="xs:token" use="optional"/>
								<xs:attribute name="别作" type="xs:string" use="required"/>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>
